[submodule "external/HyperGpu"]
	path = external/HyperGpu
	url = https://github.com/TURIING/HyperGpu
[submodule "external/HyperRender"]
	path = external/HyperRender
	url = https://github.com/TURIING/HyperRender
